
body {
    text-align: center;
    font-family: cursive;
}
#main {
    background-color: bisque;
    height: 100px;
    width: 200px;
    margin: auto;
    color: rgb(0, 0, 0)
}
#btn{
    margin-top: 1rem;
    background-color:#DCA47C;
    color: white;
    border-color: #DCA47C;
    border-radius: 5px;
}
.newClass {
    cursor: none;
}